.employeeTable{
    columns: 6;
    width: 100%;
    text-align: center;
    background-color: cadetblue;
    border-style: solid;
    border-color:peru;
}
h2{
    background-color: cadetblue;
    text-align: center;
    width: 100%;
}
h1{
    background-color: antiquewhite;
    text-align: center;
}
.addEmployee{
    text-align: center;
}
#tableElement{
    background-color: antiquewhite;
}
.warning{
    background-color: antiquewhite;
    color:darkred;
    text-align: center;
    text-shadow: 2px 2px 2px grey;
}